.textos {
    color: white;
}

.box1 {
    background-color: #3F51B5;
    height: 120px;
}

.box2 {
    background-color: #3F51B5;
    height: 60px;
}

.redes {
    font-size: 60;
    color: white
}

.textos {
    color: white;
}